<p hidden>{{page.name = 'Tutorial Page'}}</p>
<P>Tutorial1 content here</P>
<p>Number: {{tutObject.number}}</p>
 <button ng-click="timesTwo()">x2</button>
 <p>Combined strings: {{tutObject.str1 + " and " + tutObject.str2}}</p>
 <label>Str1 data bind:</label>
 <input ng-model="tutObject.str1"/>
 <br />
 <label>Str2 data bind:</label>
 <input ng-model="tutObject.str2"/>
 <br />
<br />
 <lable>Number:</lable>
 <input ng-model="tutObject.number" />
 <button ng-click="sq(tutObject.number)">Square!</button>
<br />

<nk-welcome-message></nk-welcome-message>
<br />
<p>Text</p>
<a href="#!/">Home</a>
<a href="#!/tutorialSecond">Tutorial Second Page</a>